<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="page-sidenav" mode="side">
    <h1>Images</h1>
    <app-nav></app-nav>
    <div></div>
    <mat-progress-bar
      class="sidenav__value"
      [value]="30">
    </mat-progress-bar>
  </mat-drawer>

  <div class="page-sidenav-content">
    <app-logo></app-logo>
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</mat-drawer-container>



