<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="page-sidenav" [mode]="innerWidth <= 1400 ? 'over' : 'side'">
    <h1>Images</h1>
    <app-nav></app-nav>
    <div class="size-bar__container">
      <p class="size-bar__text">{{photosSize}} Mb / {{maxSize}} Mb</p>
      <mat-progress-bar
        class="size-bar__bar"
        [color]="'red'"
        [value]="photosSizePercent">
      </mat-progress-bar>
    </div>

  </mat-drawer>

  <div class="page-sidenav-content">
    <app-logo></app-logo>
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</mat-drawer-container>



