@import "../assets/style/vars.scss";
@import "../assets/style/mixins.scss";

.page-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-sidenav-content {
  @include flex-between-center;
  padding: 1rem;
  justify-content: space-between;
  background-color: $main-page-blue-color;
  color: $main-page-white-color;
}

.page-sidenav {
  padding: 1.5rem 2.5rem;
  background-color: $main-page-purple-color;
  color: $main-page-white-color;
}

.sidenav__value {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  width: 70%;
  transform: translateX(-50%);
}
